flask
pyjwt
werkzeug

## Setup Commands

- cd ~/Flask-API-Projects
- mkdir project-13-role-based-access-api
- cd project-13-role-based-access-api
- touch README.md app.py requirements.txt

## Run the Project

- pip install -r requirements.txt
- python app.py

## Git Commands

- cd ..
- git add .
- git commit -m "add project 13 role based access api"
- git push

## Testing with Postman

1) Health Check

GET http://127.0.0.1:5000/

2) Register Admin

POST http://127.0.0.1:5000/register

{
  "username": "adminuser",
  "password": "123456",
  "role": "admin"
}

3) Register Normal User

POST http://127.0.0.1:5000/register

{
  "username": "normaluser",
  "password": "123456",
  "role": "user"
}

4) Login

POST http://127.0.0.1:5000/login

{
  "username": "adminuser",
  "password": "123456"
}

5) Profile

GET http://127.0.0.1:5000/profile

## Header:

Authorization: Bearer YOUR_TOKEN

6) Admin Dashboard

GET http://127.0.0.1:5000/admin

## Header:

Authorization: Bearer YOUR_TOKEN
