flask

## Setup Commands

- cd ~/Flask-API-Projects
- mkdir project-16-error-handling-validation-api
- cd project-16-error-handling-validation-api
- touch README.md app.py requirements.txt

## Run

- pip install -r requirements.txt
- python app.py

## Git Commands

- cd ..
- git add .
- git commit -m "add project 16 error handling validation api"
- git push

## Testing Examples

- GET http://127.0.0.1:5000/
- POST http://127.0.0.1:5000/products

{
  "name": "Laptop",
  "category": "Electronics",
  "price": 3500
}

- GET http://127.0.0.1:5000/products
- GET http://127.0.0.1:5000/products/1
- DELETE http://127.0.0.1:5000/products/1
