flask

## Setup Commands

- cd ~/Flask-API-Projects
- mkdir project-17-api-logging-request-tracking
- cd project-17-api-logging-request-tracking
- touch README.md app.py requirements.txt api.log

## Run

- pip install -r requirements.txt
- python app.py

## Git Commands

- cd ..
- git add .
- git commit -m "add project 17 api logging request tracking"
- git push

## Testing Examples

- GET http://127.0.0.1:5000/
- POST http://127.0.0.1:5000/items

{
  "name": "Laptop",
  "category": "Electronics"
}

- GET http://127.0.0.1:5000/items
- GET http://127.0.0.1:5000/logs
